# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDE / Editor
.idea/
.vscode/
.cursor/
*.swp
*.swo


# ChromaDB
chroma_db/

# OS
.DS_Store
Thumbs.db

#pyright
pyrightconfig.json

#uv
uv.lock

# data/upload: ignore contents only, keep folder
data/upload/*
!data/upload/.gitkeep


